Node Red.json
[{"id":"23ec337f.f768ec","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"9a1362f2.39e8","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"161178bb.f0d3e7","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"70318ba6.e258c4","type":"ui_tab","z":"","name":"prediction","icon":"ML","disabled":false,"hidden":false},{"id":"8fd3c073.9bed","type":"ui_group","z":"","name":"Default","tab":"70318ba6.e258c4","disp":true,"width":"6","collapse":false},{"id":"76fd7152.d3a2f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1b4c933b.00cfad","type":"ui_group","name":"Group 2","tab":"70318ba6.e258c4","order":2,"disp":true,"width":6},{"id":"d7d80ef9.f4539","type":"inject","z":"23ec337f.f768ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":73,"wires":[["ff3dae6f.57379"]]},{"id":"79ce588e.7f7cc8","type":"debug","z":"23ec337f.f768ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":722,"y":47,"wires":[]},{"id":"ff3dae6f.57379","type":"function","z":"23ec337f.f768ec","name":"Token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"6e39be7c-cc35-4723-a263-456cb4a087fe\"\nvar password=\"3559bb9d-53ac-4984-8be8-9d1e46b8d947\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"yoe\",msg.payload.yoe)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":50,"wires":[["fd84dc18.93b6d"]]},{"id":"fd84dc18.93b6d","type":"http request","z":"23ec337f.f768ec","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":515,"y":62,"wires":[["79ce588e.7f7cc8","528a9ed4.d3d01"]]},{"id":"528a9ed4.d3d01","type":"function","z":"23ec337f.f768ec","name":"prediction","func":"var token=msg.payload.token;\nvar yoe=global.get(\"yoe\");\nmsg.payload={\"fields\":[\"YearsExperience\"],\"values\":[[yoe]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":173,"wires":[["f7862871.c3ef88"]]},{"id":"f7862871.c3ef88","type":"http request","z":"23ec337f.f768ec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/adf25b6e-0945-4e61-b189-8f19238943f3/deployments/a1dfa13f-b5b2-4a5c-9d55-dacdf5392c3e/online","tls":"","proxy":"","authType":"basic","x":492,"y":174,"wires":[["c7017f68.9d594","6650bebf.88c75"]]},{"id":"6650bebf.88c75","type":"function","z":"23ec337f.f768ec","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":262,"wires":[["ebc069a4.ba3338"]]},{"id":"c7017f68.9d594","type":"debug","z":"23ec337f.f768ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":703,"y":174,"wires":[]},{"id":"c12db159.22056","type":"ui_form","z":"23ec337f.f768ec","name":"","label":"","group":"8fd3c073.9bed","order":12,"width":0,"height":0,"options":[{"label":"YearsExperience","value":"yoe","type":"number","required":true}],"formValue":{"yoe":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":172,"wires":[["ff3dae6f.57379","9de06515.636998"]]},{"id":"9de06515.636998","type":"ui_text","z":"23ec337f.f768ec","group":"8fd3c073.9bed","order":1,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload.yoe}}","layout":"row-center","x":338,"y":301,"wires":[]},{"id":"ebc069a4.ba3338","type":"ui_text","z":"23ec337f.f768ec","group":"8fd3c073.9bed","order":3,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":733,"y":331,"wires":[]},{"id":"6d1d96e7.f77a98","type":"inject","z":"9a1362f2.39e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":163,"wires":[["15f23750.743b69"]]},{"id":"df2aee50.6998c","type":"debug","z":"9a1362f2.39e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":817,"y":137,"wires":[]},{"id":"15f23750.743b69","type":"function","z":"9a1362f2.39e8","name":"Token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"6e39be7c-cc35-4723-a263-456cb4a087fe\"\nvar password=\"3559bb9d-53ac-4984-8be8-9d1e46b8d947\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Gender\",msg.payload.Gender)\nglobal.set(\"Age\",msg.payload.Age)\nglobal.set(\"SalesAfterAdvertisement\",msg.payload.SalesAfterAdvertisement)\nglobal.set(\"Radio\",msg.payload.Radio)\nglobal.set(\"Newspaper\",msg.payload.Newspaper)\nglobal.set(\"TV\",msg.payload.TV)\nglobal.set(\"SalesAfterAdvertisement\",msg.payload.SalesAfterAdvertisement)\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":140,"wires":[["de5a9029.25fe2"]]},{"id":"de5a9029.25fe2","type":"http request","z":"9a1362f2.39e8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":610,"y":152,"wires":[["df2aee50.6998c","613a0b55.c45994"]]},{"id":"613a0b55.c45994","type":"function","z":"9a1362f2.39e8","name":"prediction","func":"var token=msg.payload.token;\nvar Gender=global.get(\"Gender\");\nvar Age=global.get(\"Age\");\nvar SalesBeforeAdvertisement=global.get(\"SalesBeforeAdvertisement\");\nvar Radio=global.get(\"Radio\");\nvar Newspaper=global.get(\"Newspaper\");\nvar TV=global.get(\"TV\");\nvar SalesAfterAdvertisement=global.get(\" SalesAfterAdvertisement\");\nmsg.payload={\"fields\":[\"Gender\"],\"values\":[[Gender]]};\nmsg.payload={\"fields\":[\"Age\"],\"values\":[[Age]]};\nmsg.payload={\"fields\":[\"SalesBeforeAdvertisement\"],\"values\":[[SalesBeforeAdvertisement]]};\nmsg.payload={\"fields\":[\"Radio\"],\"values\":[[Radio]]};\nmsg.payload={\"fields\":[\"Newspaper\"],\"values\":[[Newspaper]]};\nmsg.payload={\"fields\":[\"TV\"],\"values\":[[TV]]};\nmsg.payload={\"fields\":[\"SalesAfterAdvertisement\"],\"values\":[[SalesAfterAdvertisement]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":263,"wires":[["264c5533.32d76a"]]},{"id":"264c5533.32d76a","type":"http request","z":"9a1362f2.39e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a050701a-9965-4f8f-abd3-9bbaf46e2b4a/deployments/b937b373-2c21-45bd-83d3-fc3e08842c59/online'","tls":"","proxy":"","authType":"basic","x":587,"y":264,"wires":[["7f028fd.4dc5d7","5f969a32.623924"]]},{"id":"5f969a32.623924","type":"function","z":"9a1362f2.39e8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":681,"y":352,"wires":[["2029d163.ffaf1e"]]},{"id":"7f028fd.4dc5d7","type":"debug","z":"9a1362f2.39e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":798,"y":264,"wires":[]},{"id":"3c7118c8.f29b48","type":"ui_form","z":"9a1362f2.39e8","name":"","label":"","group":"8fd3c073.9bed","order":13,"width":0,"height":0,"options":[{"label":"Gender","value":"Gender","type":"text","required":true},{"label":"Age","value":"Age","type":"number","required":true},{"label":"SalesAfterAdvertisement","value":"SalesAfterAdvertisement","type":"number","required":true},{"label":"Radio","value":"Radio","type":"number","required":true},{"label":"Newspaper","value":"Newspaper","type":"number","required":true},{"label":"TV","value":"TV","type":"number","required":true},{"label":"SalesAfterAdvertisement","value":"SalesAfterAdvertisement","type":"number","required":true}],"formValue":{"Gender":"","Age":"","SalesAfterAdvertisement":"","Radio":"","Newspaper":"","TV":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":262,"wires":[["15f23750.743b69","add76d2c.feaa3","73f74bfc.e65674","ac2af55a.7d23d8","9f8fbb27.af7be8","20ce8c21.5b8414","6e0b595f.56b9c8","e7c2c70f.b1a248"]]},{"id":"add76d2c.feaa3","type":"ui_text","z":"9a1362f2.39e8","group":"8fd3c073.9bed","order":2,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload.Gender}}","layout":"row-center","x":448,"y":321,"wires":[]},{"id":"2029d163.ffaf1e","type":"ui_text","z":"9a1362f2.39e8","group":"8fd3c073.9bed","order":4,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-center","x":828,"y":421,"wires":[]},{"id":"9f8fbb27.af7be8","type":"ui_text","z":"9a1362f2.39e8","group":"8fd3c073.9bed","order":5,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload.Radio}}","layout":"row-center","x":289,"y":338,"wires":[]},{"id":"20ce8c21.5b8414","type":"ui_text","z":"9a1362f2.39e8","group":"8fd3c073.9bed","order":6,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload.Newspaper}}","layout":"row-center","x":295,"y":379,"wires":[]},{"id":"ac2af55a.7d23d8","type":"ui_text","z":"9a1362f2.39e8","group":"8fd3c073.9bed","order":7,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload.SalesBefforeAdvertisement}}","layout":"row-center","x":452,"y":399,"wires":[]},{"id":"73f74bfc.e65674","type":"ui_text","z":"9a1362f2.39e8","group":"8fd3c073.9bed","order":8,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload.Age}}","layout":"row-center","x":453,"y":362,"wires":[]},{"id":"6e0b595f.56b9c8","type":"ui_text","z":"9a1362f2.39e8","group":"8fd3c073.9bed","order":10,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload.TV}}","layout":"row-center","x":299,"y":424,"wires":[]},{"id":"e7c2c70f.b1a248","type":"ui_text","z":"9a1362f2.39e8","group":"8fd3c073.9bed","order":9,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload.SalesAfterAdvertisement}}","layout":"row-center","x":456,"y":441,"wires":[]},{"id":"594557cb.281af8","type":"debug","z":"161178bb.f0d3e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1148,"y":118,"wires":[]},{"id":"aaf756b3.a27c08","type":"function","z":"161178bb.f0d3e7","name":"Token generation","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"SalesBeforeAdvertisement\",msg.payload.SalesBeforeAdvertisement)\nglobal.set(\"Radio\",msg.payload.Radio)\nglobal.set(\"Newspaper\",msg.payload.Newspaper)\nglobal.set(\"TV\",msg.payload.TV)\nglobal.set(\"SalesAfterAdvertisement\",msg.payload.SalesAfterAdvertisement)\nreturn msg;","outputs":1,"noerr":0,"x":674,"y":101,"wires":[["5b5df952.83a5b8"]]},{"id":"5b5df952.83a5b8","type":"http request","z":"161178bb.f0d3e7","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":737,"y":199,"wires":[["e4ba982a.3be378","594557cb.281af8"]]},{"id":"e4ba982a.3be378","type":"function","z":"161178bb.f0d3e7","name":"Function","func":"var token=msg.payload.token;\nvar g=global.get(\"Gender\");\nvar Age=global.get(\"Age\");\nvar SalesBeforeAdvertisement=global.get(\"SalesBeforeAdvertisement\");\nvar Radio=global.get(\"Radio\");\nvar Newspaper=global.get(\"Newspaper\");\nvar TV=global.get(\"TV\");\nvar SalesAfterAdvertisement=global.get(\"SalesAfterAdvertisement\");\nmsg.payload={\"fields\":[\"Gender\",\"Age\",\"SalesBeforeAdvertisement\",\"Radio\",\"Newspaper\",\"TV\",\"SalesAfterAdvertisement\"],\"values\":[[g,Age,SalesBeforeAdvertisement,Radio,Newspaper,TV,SalesAfterAdvertisement]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":283,"wires":[["24600f37.ea02f","594557cb.281af8"]]},{"id":"6f41ca48.82a774","type":"ui_form","z":"161178bb.f0d3e7","name":"","label":"","group":"8fd3c073.9bed","order":14,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true},{"label":"SalesBeforeAdvertisement","value":"SalesBeforeAdvertisement","type":"number","required":true},{"label":"Radio","value":"Radio","type":"number","required":true},{"label":"Newspaper","value":"Newspaper","type":"number","required":true},{"label":"TV","value":"TV","type":"number","required":true},{"label":"SalesAfterAdvertisement","value":"SalesAfterAdvertisement","type":"number","required":true}],"formValue":{"Age":"","SalesBeforeAdvertisement":"","Radio":"","Newspaper":"","TV":"","SalesAfterAdvertisement":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":472,"y":99,"wires":[["aaf756b3.a27c08"]]},{"id":"8a89ad72.ce75e","type":"ui_text","z":"161178bb.f0d3e7","group":"8fd3c073.9bed","order":15,"width":0,"height":0,"name":"","label":" popularity prediction","format":"{{msg.payload}}","layout":"row-center","x":1126,"y":437,"wires":[]},{"id":"24600f37.ea02f","type":"http request","z":"161178bb.f0d3e7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/adf25b6e-0945-4e61-b189-8f19238943f3/deployments/3904aaf9-8d08-4352-a7fa-bdf69659d7e4/online","tls":"","proxy":"","authType":"basic","x":916,"y":83,"wires":[["594557cb.281af8","e003d641.d23e98"]]},{"id":"2b671748.875938","type":"function","z":"161178bb.f0d3e7","name":"Gender Selection","func":"if(msg.payload==\"Male\")\n{\n    global.set(\"Gender\",1)\n}\nelse if(msg.payload==\"Female\")\n{\n    global.set(\"Gender\",0)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":741,"y":481,"wires":[["fd3b8af.9eb0878"]]},{"id":"67c4d2b5.fb1b5c","type":"ui_dropdown","z":"161178bb.f0d3e7","name":"","label":"","tooltip":"","place":"Select Gender","group":"8fd3c073.9bed","order":11,"width":0,"height":0,"passthru":true,"options":[{"label":"Male","value":"Male","type":"str"},{"label":"Female","value":"Female","type":"str"}],"payload":"","topic":"","x":522,"y":484,"wires":[["2b671748.875938"]]},{"id":"e003d641.d23e98","type":"function","z":"161178bb.f0d3e7","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1125,"y":284,"wires":[["594557cb.281af8","8a89ad72.ce75e"]]},{"id":"fd3b8af.9eb0878","type":"debug","z":"161178bb.f0d3e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":979,"y":489,"wires":[]}]